:root{
    --primaryColor: rgb(240, 232, 232);
    --secondaryColor: rgb(41, 41, 42);
    --tertiaryColor: rgb(117, 116, 116);
    --background-color: rgb(15, 14, 14);
    --primaryTextColor: rgb(219, 207, 207);
    --secondaryTextColor: rgb(170, 170, 27);
    --tertiaryTextColor: rgb(19, 19, 118);
    --logoColor: rgb(5, 5, 245);
    --shadowColor: rgb(0, 0, 0);
}
html{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
}

header{
    background-color: var(--secondaryColor);
    height: 100px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 30px var(--background-color);
}

.logo{
    margin-left: 40px;
    color: var(--logoColor);
}
.logo h1{
    font-size: 72px;
}

.navbar{
    margin-right: 40px;
}

.navbar ul li{
    display: inline-block;
    padding: 10px;
}

.navbar ul li a{
    list-style-type: none;
    text-decoration: none;
    color: var(--primaryTextColor);
}
.navbar ul li a:hover{
    color: var(--tertiaryColor);
}

.grid{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.container{
    margin: 0 auto;
    width: 85%;
    background-color: var(--primaryColor);
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
}

.topics{
    margin-right: 50px;
    width: 55%;
    
}

.topics h1{
    background-color: var(--background-color);
    color: var(--primaryTextColor);
    border-radius: 10px;
    text-align: center;
}

.topics ul{
    font-size: 24px;
    padding: 20px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--tertiaryTextColor);
    border-radius: 10px;
    line-height: 40px;
    margin-top: 45px;
}

.topics ul li{
    list-style-type: none;
}

.showcase{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px;
    text-align: center;
}

.showcase p {
    margin-top: 0px;
}


.showcase >*:first-child{
    grid-column: 1 / span 2;
}
.showcase >*:first-child img{
    height: 300px;
}

.showcase img {
    width: 100%;
    height: 150px;
    justify-content: center;
}

.showcase >*:nth-child(2){
    margin-top: 100px;
}

.rated{
    color: var(--secondaryTextColor);
    margin-left: 20px;
}

.most-rated img{
    height: 220px;
}
.most-rated{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.most-rated-sub {
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    gap: 20px;
    align-items: center;
}

.most-rated-sub img{
    width: 100%;
}

.popular{
    margin-top: 20px;
    margin-left: 24px;
    color: var(--secondaryTextColor);
}

.popular-sub{
    grid-template-columns: 1fr 1fr;
    width: 65%;
    gap: 20px;
    border: 1px solid var(--secondaryColor);
    margin-top: 20px;
    align-items: center;
    font-size: 24px;
}

.popular-sub img{
    width: 100%;
}

.popular-sub img:hover{
   box-shadow: 2px 2px var(--secondaryColor);
}

.footer{
    color: var(--primaryTextColor);
    background-color: var(--secondaryColor);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-top: 20px;
}

.copyright{
    margin-left: 20px;
}

footer nav ul li{
    display: block;
    list-style-type: none;
    font-size: 20px;
}

footer nav ul li a{
    text-decoration: none;
}

.social{
    padding: 20px;
    font-size: 40px;
    margin-left: 20px;
}

.social a {
    text-decoration: none;
}


@media (max-width: 600px) {
    header{
        grid-template-columns: 1fr;
        height: 200px;
    }

    .topics{
        display: none;
    }

    .navbar{
        display: block;
    }

    header{
        display: block;
    }

    .showcase{
        display: block;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-left: 25px;
        margin-top: 20px;
        gap: 20px;
    }

    .showcase div{
        margin: 20px;
    }

    .showcase >*:first-child{
        grid-template-columns: 1fr;
    }
    .showcase >*:first-child img{
        height: 200px;
    }

    .showcase >*:nth-child(2){
        margin-top: 0;
    }
      
    .rated{
        grid-template-columns: 1fr;
    }

    .most-rated{
        grid-template-columns: 1fr;
    }

    .most-rated-sub{
        grid-template-columns: 1fr;
    }

    .popular{
        grid-template-columns: 1fr;
    }

    .popular-sub{
        grid-template-columns: 1fr;
    }

    .footer{
        grid-template-columns: 1fr;
        text-align: center;
    }
}